#wd-assignments {
  background-color: #fff; 
  padding: 20px;
  border-radius: 5px;
}







/* HEADER */
#wd-assignments-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-body {
    background-color: #f8f9fa; 
  }
  
  .btn-outline-secondary {
    border-color: #6c757d; 
    color: #6c757d; 
  }


  .wd-assignment-list-item {
    background-color: #fff; 
    border: 2px solid #dee2e6;
    border-radius: 5px;
    text-align: left; 
  }

#wd-search-assignment {
    width: 300px; 
  }
  
  #wd-assignments-title button {
    font-size: 1.25rem; 
  }
  
  .wd-assignment-link {
    display: block; 
  }

  .text-red {
    color: red;
  }


  .assignment-card {
    border-left: 8px solid green; 
  }