.list-group-item {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  border: 0;
  text-decoration: none;
}

.nav-link {
  background-color: black;
  color: white;
}

.list-group-item.active {
  background-color: white;
  color: red;
}

.list-group-item.active .fs-1 {
  color: red;
}

.list-group-item .fs-1 {
  color: inherit;
}

#wd-kanbas-navigation {
  height: 100vh;
}
